appdirs==1.4.0
backports-abc==0.5
certifi==2017.1.23
futures==3.0.5
Jinja2==2.9.4
MarkupSafe==0.23
msgpack==0.6.2
msgpack-python==0.4.8
packaging==16.8
pycrypto==2.6.1
pyparsing==2.1.10
PyYAML==3.12
pyzmq==16.0.2
requests==2.13.0
salt==3000.1
singledispatch==3.4.0.3
six==1.10.0
tornado==6.0.4